
.red {
    color: red;
}

.showButton {
    color: white;
    background-color: green;
    cursor: pointer;
}

.showButton:hover {
    background-color: lightgreen;
    color: black;
}

.hideButton {
    color: white;
    background-color: red;
    cursor: pointer;
}

.hideButton:hover {
    background-color: salmon;
    color: black;
}